/build
/src/main/java/com/udacity/shoestore/.InstructionsFragment.kt.icloud
/src/main/java/com/udacity/shoestore/.LoginFragment.kt.icloud
/src/main/java/com/udacity/shoestore/.WelcomeFragment.kt.icloud
